##################################################
# Node
##################################################

## Deps
node_modules/

##################################################
# OS
##################################################

## MacOS
.DS_Store

##################################################
# Misc
##################################################

## Build artifacts
dist/

## Env
.env
.env.*
!.env.*example

## Logs
*.log
